body {
    background-color: #020028;
    color: #e5e5e5;
    font-family: 'Consolas', monospace;
    margin: 5%;
  }

img{
    display: flex;
  margin-left: 30%;
  
  margin-right: auto;
  position: absolute;
  bottom: 35%;
  width: 30%;
}

h1{
    font-size: 9em;
    position: absolute;
    top: 50%;
}

@media only screen and (max-width: 600px) {
    img{
        display: block;
        margin-left: 10%;
        margin-right: auto;
        position: absolute;
        bottom: 60%;
        width: 80%;
    }
    h1{
        font-size: 9em;
        top: 50%;
    }
}