body {
    background-color: #020028;
    color: #e5e5e5;
    font-family: 'Consolas', monospace;
    margin: 5%;
  }

/* Default styles for desktop */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#words{
    display: flex;
}

/* Media query for mobile */
@media only screen and (max-width: 1250px) {
    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #words{
        display: block;
        align-items: center;
        text-align: center;
        position: absolute;
    }
}
