body {
    background-color: #020028;
    color: #e5e5e5;
    font-family: 'Consolas', monospace;
    margin: 0px;
  }
  
  header h1 {
    text-align: center;
    color: #6ffcf3;
  }
  


  nav {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    color: #66FCF1;
    text-decoration: none;
}

section#about {
    margin: 0;
    padding: 10px;
}

section#about p{
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

section#projects p{
    margin: 0;
    padding: 10px;
}

#more{
  display: none;
}

#read-more-button{
  cursor: pointer;
  color: #66FCF1;
}
#read-more-button:hover{
  text-decoration: underline;
}

#read-more-button2{
  cursor: pointer;
  color: #66FCF1;
}
#read-more-button2:hover{
  text-decoration: underline;
}

#more2{
  display: none;
}

#read-more-button3{
  cursor: pointer;
  color: #66FCF1;
}
#read-more-button3:hover{
  text-decoration: underline;
}

#more3{
  display: none;
}

section#contact {
    margin: 0;
    padding: 10px;
}



nav a:hover {
text-decoration: underline;
}

main {
margin: 0 auto;
width: 80%;
}

section {
margin-bottom: 30px;
}

section h2 {
text-align: center;
color: #66FCF1;
}

section#projects h2{
  padding-top: 20px;
}

section p {
line-height: 1.5;
}

form {
text-align: center;
}

form label {
display: block;
margin-bottom: 10px;
}

form input[type="text"], form input[type="email"], form textarea {
font-family: 'Consolas', monospace;
width: 50%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid #66FCF1;
border-radius: 4px;
background-color: #e5e5e5;
color: #0f0c29;
}

form input[type="submit"] {
width: 50%;
background-color: #4364f8;
color: #e5e5e5;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

form input[type="submit"]:hover {
background-color: #b80000;
}

footer {
text-align: center;
color: #e5e5e5;
padding: 20px 0;
}

.profile-pic {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #66FCF1;
}


#scroll-button{
  width:40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  cursor: pointer;
}


section#certificates{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cert {
  text-align: center;
  color: #66FCF1;
  }


.ibm-container{
  box-sizing: border-box;
  width: 20%;
}

#ibm-caption{
  width: 100%; 
  text-align: center; 
  margin-right: 0px;
  
}

#ibm-image{
  width: 100%;
}

.ongc-container{
  box-sizing: border-box;
  width: 20%;
}

#ongc-caption{
  width: 100%; 
  text-align: center;
  
}

#ongc-image{
  width: 100%;
}

.tecnoesis-container{
  box-sizing: border-box;
  width: 20%;
}

#tecnoesis-caption{
  width: 100%; 
  text-align: center;
  
}

#tecnoesis-image{
  width: 100%;
}


@media only screen and (max-width: 600px) {
  /* Adjust the layout for smaller screens */
  body {
      font-size: 14px;
  }
  ul{
    padding-inline-start: 0px;
  }
  /* Add a scrollbar to the main content */
  main {
      overflow-y: scroll;
  }
  header h1{
    font-size: 3em;
  }

  section#about{
    padding: 0px;
    left: 5px;
    right:5px;
  }

  section#about h2{
    margin-top: 50px;
  }

  .profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #66FCF1;
}

section#certificates{
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: 30%;
}

.ibm-container, .ongc-container, .tecnoesis-container {
  box-sizing: border-box;
  width: 60%;
}

form input[type="text"], form input[type="email"], form textarea {
  width: 90%;
}
  
}